[Oo]bj/
[Bb]in/
TestResults/
.nuget/
.build/
.testPublish/
*.sln.ide/
_ReSharper.*/
packages/
artifacts/
PublishProfiles/
.vs/
bower_components/
node_modules/
debugSettings.json
project.lock.json
*.user
*.suo
*.cache
*.docstates
_ReSharper.*
nuget.exe
*net45.csproj
*net451.csproj
*k10.csproj
*.psess
*.vsp
*.pidb
*.userprefs
*DS_Store
*.ncrunchsolution
*.*sdf
*.ipch
.settings
*.sln.ide
LogError
node_modules
*launchSettings.json
*.orig
/AdminApi/Lottery.AdminApi/Lottery.ApiGateway/bin
/AdminApi/.vs
/AdminApi/Lottery.AdminApi/DLL

/AdminApi/Lottery.AdminApi/Lottery.ApiGateway/web.config
/AdminApi/Lottery.AdminApi/Lottery.ApiGateway/Log_Log
/ApiGateway/Lottery.ApiGateway/Lottery.ApiGateway/bin
/ApiGateway/.vs
/ApiGateway/Lottery.ApiGateway/DLL

/ApiGateway/Lottery.ApiGateway/Lottery.ApiGateway/web.config
/ApiGateway/Lottery.ApiGateway/Lottery.ApiGateway/Log_Log
/BettingServiceHost/BettingLottery.Service/CacheData
/90.Apps/app.lottery.site/Log_Log
